.modal-content {
    text-align: center;
    border: none;
  }
  
  .modal-content .logo {
    width: 300px;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Mobile adjustments */
@media (max-width: 768px) {
    .modal-content .logo {
      width: 200px; /* Reduce size for smaller screens */
      padding: 10px; /* Adjust padding */
      margin-bottom: 15px; /* Reduce margin for better spacing */
    }
  }

  .modal-content h2 {
    margin-bottom: 20px;
    font-family: 'groteska', sans-serif;
  }
  .difficulty-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons on top of each other */
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .difficulty-btn {
    background: #000000;
    color: rgb(255, 255, 255);
    border: #5ED88D 1px solid;
    padding: 10px 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    font-family: 'Groteska', sans-serif;
    font-weight: 400;
  }
  
  .difficulty-btn:hover {
    transform: scale(1.02);
    background: #5ED88D;
    color: #000000;
  }
  
  .divider {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
  }
  
  .memory-mode {
    margin-bottom: 20px;
  }
  
  .memory-grid-selection {
    margin-top: 10px;
  }

  .h2 {
    font-family: 'Groteska', sans-serif;
  }